<div class= 'card' >
  <div class= 'card-header'>
      <img *ngFor= 'let weather of city.weather' src="http://openweathermap.org/img/w/{{ weather.icon}}.png"> {{PageTitle + city.name}}
  </div>
  <div class= 'card-body'>
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th>Weather Status</th>                      
                    <th>Weather details</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let forecast of forecast'>
                    <td *ngFor='let weather of city.weather'><img src="http://openweathermap.org/img/w/{{ weather.icon}}.png"></td>
                    <td>{{ forecast.dt_txt }}</td>
                    <td>{{ forecast.main.temp | temperature:'F' }}</td>
                    <td *ngFor='let weather of city.weather' >{{weather.main }}</td>
                    <td *ngFor='let weather of city.weather' >{{weather.description }}</td>                 
                    <td><a class= 'btn btn-light' [routerLink]= "['/city', city.id]" >View details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <div class= 'card-footer'>
      <a class= 'btn btn-primary' (click) ='onBack()'>
        <i class= 'fas fa-angle-left'></i> Back
      </a>
  </div>
  <div >
  <custom-chart></custom-chart>
</div>